article, aside, details, figcaption, figure, footer, header, hgroup, nav, section
  display: block

audio, canvas, video
  display: inline-block
  *display: inline
  *zoom: 1

audio:not([controls])
  display: none

[hidden]
  display: none

html
  font-size: 100%
  -webkit-text-size-adjust: 100%
  -ms-text-size-adjust: 100%

html, button, input, select, textarea
  font-family: 'Open Sans', sans-serif
  color: #222

body
  margin: 0
  line-height: 1.4
  background: #f1f1f1

::-moz-selection
  background: #fe57a1
  color: #fff
  text-shadow: none

::selection
  background: #fe57a1
  color: #fff
  text-shadow: none

a
  color: #08C

a:hover
  color: #06e

a:focus
  outline: thin dotted

a:hover, a:active
  outline: 0

abbr[title]
  border-bottom: 1px dotted

b, strong
  font-weight: bold

blockquote
  margin: 1em 40px

dfn
  font-style: italic

hr
  display: block
  height: 1px
  border: 0
  border-top: 1px solid #ccc
  margin: 1em 0
  padding: 0

ins
  background: #ff9
  color: #000
  text-decoration: none

mark
  background: #ff0
  color: #000
  font-style: italic
  font-weight: bold

pre, code, kbd, samp
  font-family: monospace, serif
  _font-family: 'courier new', monospace
  font-size: 1em

pre
  white-space: pre-wrap
  word-wrap: break-word

q
  quotes: none

q:before, q:after
  content: none

small
  font-size: 85%

sub, sup
  font-size: 75%
  line-height: 0
  position: relative
  vertical-align: baseline

sup
  top: -0.5em

sub
  bottom: -0.25em

ul, ol
  margin: 1em 0
  padding: 0 0 0 40px

dd
  margin: 0 0 0 40px

nav ul, nav ol
  list-style: none
  list-style-image: none
  margin: 0
  padding: 0

img
  border: 0
  -ms-interpolation-mode: bicubic
  vertical-align: middle

svg:not(:root)
  overflow: hidden

figure
  margin: 0

form
  margin: 0

fieldset
  border: 0
  margin: 0
  padding: 0

label
  cursor: pointer

legend
  border: 0
  *margin-left: -7px
  padding: 0
  white-space: normal

button, input, select, textarea
  font-size: 100%
  margin: 0
  vertical-align: baseline
  *vertical-align: middle

button, input
  line-height: normal

button, input[type="button"], input[type="reset"], input[type="submit"]
  cursor: pointer
  -webkit-appearance: button
  *overflow: visible

button[disabled], input[disabled]
  cursor: default

input[type="checkbox"], input[type="radio"]
  box-sizing: border-box
  padding: 0
  *width: 13px
  *height: 13px

input[type="search"]
  -webkit-appearance: textfield
  -moz-box-sizing: content-box
  -webkit-box-sizing: content-box
  box-sizing: content-box

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button
  -webkit-appearance: none

button::-moz-focus-inner, input::-moz-focus-inner
  border: 0
  padding: 0

textarea
  overflow: auto
  vertical-align: top
  resize: vertical

input:valid, textarea:valid

input:invalid, textarea:invalid
  background-color: #f0dddd

table
  border-collapse: collapse
  border-spacing: 0

td
  vertical-align: top

.chromeframe
  margin: 0.2em 0
  background: #ccc
  color: black
  padding: 0.2em 0

.module
  background: #fff
  border: 1px solid #ccc
  box-shadow: 1px 2px 2px #ccc
  margin-bottom: 20px

.left
  float: left

.right
  float: right

.table
  margin-top: 10px
  margin-bottom: 10px

header.navbar
  background: #fff
  border-bottom: 2px solid #ccc
  box-shadow: none

header.navbar div.navbar-inner
  border: none
  box-shadow: none
  background: #fff
  margin: auto

header.navbar div.navbar-inner a.logo
  padding-top: 0px
  padding-bottom: 10px
  margin-left: 60px

header.navbar div.navbar-inner a.logo img
  width: 100px

header.navbar div.navbar-inner form.navbar-form
  border-left: 1px solid #fafafa
  padding: 5px
  margin-top: 10px
  margin-left: 145px
  position: relative

header.navbar div.navbar-inner form.navbar-form input[type=search]
  width: 175px
  padding-right: 25px
  padding-left: 25px

header.navbar div.navbar-inner form.navbar-form i.icon-search
  position: relative
  left: 23px

header.navbar div.navbar-inner ul.nav
  float: right
  margin: 0
  padding: 0 5px
  height: 35px
  background: -webkit-linear-gradient(#F1F1F1,#E0E0E0)
  -mis-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')"
  box-shadow: 0 1px 0 #fafafa,inset 0 1px 0 #fafafa
  border: 1px solid #ccc
  border-top: none
  border-radius: 0px 0px 8px 8px

header.navbar div.navbar-inner ul.nav li a
  display: inline-block
  cursor: pointer
  width: 20px
  padding: 5px 7px

header.navbar div.navbar-inner ul.nav li a:hover img
  opacity: 0.4

header.navbar div.navbar-inner ul.nav li a img
  width: 20px

div.content
  margin: auto

div.content section.left-bar
  width: 25%
  max-width: 300px
  float: left
  margin: 0 25px 0 5%

div.content section.left-bar a.report-new
  width: 89%
  margin-bottom: 20px
  text-align: left

div.content section.left-bar a.report-new span:first-child
  font-size: 28px
  line-height: 12px
  margin-left: 20px

div.content section.left-bar a.report-new span:last-child
  font-size: 18px
  margin-left: 5px

div.content section.left-bar article
  padding: 10px

div.content section.left-bar article.issue-types
  padding: 20px

div.content section.left-bar article.issue-types ul
  list-style: none
  padding: 0
  margin: 0

div.content section.left-bar article.issue-types ul li
  margin-bottom: 20px
  width: 100%
  height: 35px
  clear: both

div.content section.left-bar article.issue-types ul li a
  display: block
  padding: 5px 20px
  line-height: 35px
  border-radius: 8px
  color: black
  height: 100%
  -webkit-transition: all 0.2s ease-in-out
  cursor: pointer

div.content section.left-bar article.issue-types ul li a span:first-child
  float: left
  color: #afc0c3

div.content section.left-bar article.issue-types ul li a span:last-child
  float: right

div.content section.left-bar article.issue-types ul li a:hover
  background: #999
  color: white

div.content section.left-bar article.issue-types ul li a.active
  background: #244e58
  color: white !important

div.content section.left-bar article.issue-types ul li a:hover span:first-child, div.content section.left-bar article.issue-types ul li a.active span:first-child
  color: white

div.content section.left-bar article.labels
  padding: 20px

div.content section.left-bar article.labels ul
  list-style: none
  margin: 0
  padding: 0

div.content section.left-bar article.labels ul li
  margin-bottom: 5px

div.content section.left-bar article.labels ul li a
  display: block
  width: 90%
  text-decoration: none
  padding-right: 10px

div.content section.left-bar article.labels ul li a:hover
  background: rgba(175, 192, 195, 0.4)

div.content section.left-bar article.labels ul li a span.label
  line-height: 25px

div.content section.left-bar article.labels ul li span.badge-count
  float: right
  color: black
  font-size: 14px
  line-height: 25px

div.content section[rel=main]
  min-height: 600px
  padding: 10px
  float: left
  width: 63%
  max-width: 1000px

footer
  background: white
  width: 100%
  min-width: 1366px
  margin-top: 50px
  border-top: 2px solid #ccc
  padding: 25px 0px

footer div.container
  width: 1366px
  margin: auto

footer div.container img.emblem
  float: left
  width: 100px

footer div.container section
  width: 50%
  margin-left: 225px

footer div.container section article
  display: inline-block
  width: 125px
  padding-left: 25px
  border-right: 1px solid #d1d1d1
  margin-left: 25px

footer div.container section article:last-child
  border: none

footer div.container section article a
  display: block
  height: 30px
  color: #999
  font-size: 18px

footer div.container section article a:hover
  color: #244e58

footer div.container img.snail
  float: right
  width: 250px
  margin-top: -120px

@media all and (min-device-width : 320px) and (max-device-width : 480px)
  div.content section.left-bar
    width: 90%
    max-width: 90%
    float: none
    margin: 0 25px 0 5%

@media only screen and (min-width : 321px) and (max-width : 420px)
  header.navbar
    background: #fff
    border-bottom: 2px solid #ccc
    box-shadow: none

  header.navbar div.navbar-inner
    border: none
    box-shadow: none
    background: #fff
    margin: auto

  header.navbar div.navbar-inner a.logo
    padding-top: 0px
    padding-bottom: 10px
    margin-left: 60px
    display: block
    width: 100%

  header.navbar div.navbar-inner a.logo img
    width: 100px

  header.navbar div.navbar-inner form.navbar-form
    margin-left: 0
    border: none
    position: static
    clear: both

  header.navbar div.navbar-inner form.navbar-form input[type=search]
    width: 98%
    padding-right: 0
    padding-left: 25px

  header.navbar div.navbar-inner form.navbar-form i.icon-search
    position: relative
    left: 23px

  header.navbar div.navbar-inner ul.nav
    float: right
    margin: 0
    padding: 0 5px
    height: 35px
    background: -webkit-linear-gradient(#F1F1F1,#E0E0E0)
    -mis-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1',endColorstr='#e0e0e0')"
    box-shadow: 0 1px 0 #fafafa,inset 0 1px 0 #fafafa
    border: 1px solid #ccc
    border-top: none
    border-radius: 0px 0px 8px 8px

  header.navbar div.navbar-inner ul.nav li a
    display: inline-block
    cursor: pointer
    width: 20px
    padding: 5px 7px

  header.navbar div.navbar-inner ul.nav li a:hover img
    opacity: 0.4

  header.navbar div.navbar-inner ul.nav li a img
    width: 20px

  div.content section.left-bar
    width: 90%
    max-width: 90%
    float: none
    margin: 0 25px 0 5%

@media only screen and (max-width : 320px)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape)
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait)
@media only screen and (min-width : 1224px)
@media only screen and (min-width : 1824px)
@media only screen and (-webkit-min-device-pixel-ratio : 1.5)only screen and (min-device-pixel-ratio : 1.5)
.ir
  border: 0
  font: 0/0 a
  text-shadow: none
  color: transparent
  background-color: transparent

.hidden
  display: none !important
  visibility: hidden

.visuallyhidden
  border: 0
  clip: rect(0 0 0 0)
  height: 1px
  margin: -1px
  overflow: hidden
  padding: 0
  position: absolute
  width: 1px

.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus
  clip: auto
  height: auto
  margin: 0
  overflow: visible
  position: static
  width: auto

.invisible
  visibility: hidden

.clearfix:before, .clearfix:after
  content: ""
  display: table

.clearfix:after
  clear: both

.clearfix
  *zoom: 1

@media print
  *
    background: transparent !important
    color: black !important
    box-shadow: none !important
    text-shadow: none !important

  a, a:visited
    text-decoration: underline

  a[href]:after
    content: " (" attr(href) ")"

  abbr[title]:after
    content: " (" attr(title) ")"

  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after
    content: ""

  pre, blockquote
    border: 1px solid #999
    page-break-inside: avoid

  thead
    display: table-header-group

  tr, img
    page-break-inside: avoid

  img
    max-width: 100% !important

  @page
    margin: 0.5cm

  p, h2, h3
    orphans: 3
    widows: 3

  h2, h3
    page-break-after: avoid

